.hero {
    margin-top: -10vh;
    padding: 10vh 0;
    justify-content: flex-end;
    align-items: center;
}

.background {
    background-image: url("../../public/images/mobile/heromobilesombre.jpg");
    background-size: cover;
    background-position: center;
}

.img {
    width: 80%;
    max-width: 100%;
    height: auto;
    max-height: 150px;
}